.jumbotron {
  background-color: #337ab7;
  text-align: Center;
  font-style: italic; 
  font-family: 'Syne Mono', monospace;
  padding-top: .5%; 
  padding-bottom: .5%; 
}

body {
    background-image: url(assets/empty-chair-ski-lift-on-bright-winter-day_free_stock_photos_picjumbo_P1010062-2210x1475.jpg);
    background-color: #cccccc;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    min-height: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    overflow: scroll; 
}

img.map {
    height: 100%;
    width: 100%;
}

.navbar-brand {
    background-color: rgb(53, 145, 236);
    font-size: 22px ;
    border-radius: 10px;
    color: white;
    width: 40px;
    height: 40px;
    padding: 5px 5px;
    text-align: center;
    display: inline-block;
    position:relative; 
    
}

#search {
    border: 2px solid;
    background-color: #337ab7; 
    font-size: 18px ;
    border-radius: 6px;
    color: white;
    padding: 5px 5px;
    text-align: center;
    display: inline-block;
    margin-left: 0px; 
    border-bottom: 2px solid #ff5d1c;
    Border-top: 2px solid #ff5d1c; 
    border-left: 2px solid #ff5d1c; 
    border-right: 2px solid #ff5d1c; 
    
}

.collapsible {
    color: rgb(48, 119, 141);
    border-radius: 6px;
    border-color: white;
    margin-top: 5px;
    width: 100%;
    text-align: left;
    background-color: rgb(160, 160, 160);
    display: inline-block;
    position:static; left:150px; top:2px; 
    z-index: 9999; 
    position: fixed; 
}

 .btn-group {
     width: 100%;
     text-align: left;
     margin-left: 200px; 
     
 }

 .btn {
     width: 100%;
     text-align: left;
 }

 .col1 {
     text-align: center;
     padding-left: 10px; 

 }

 .col2 {
     text-align: center;
     padding-right: 25px; 

 }

 .containerTop {
     margin: 10px 75px;
     padding: 15px;

 }

 .container {
       transition: padding 500;
       padding: left 200px; 
 }

      
.container-is-open {
    padding-top:200px;
    position: relative; 
 }

  .container.dropdown-menu {
    width: 100%;
    height: 120px;
    left: 0;
    text-align: center;
    position: absolute; 
    background-color: #337; 
  }
  /* controls the physical dropdown menu */ 
  .dropdown-menu {
    width: 100%; 
    padding-left:25px;
    padding-right:25px;
    position:relative; 
    z-index:9999; 
    border-top: 2px solid #ff5d1c;
    border-bottom: 2px solid #ff5d1c;
    border-left: 2px solid #ff5d1c;
    border-right: 2px solid #ff5d1c;
    background-color: #337ab7; 
    min-height: 200px; 
    max-height: 300px; 
    overflow: scroll;  
    overflow-x: hidden; 
   }

  .container {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .14em;
    color: white;
    position: relative;
    padding-bottom: 50px; 
    min-height: 50px; 
    max-height: 25px; 
    position: absolute;  

  }
  .row:after, 
  .row:focus {
    color: #ffffff;
     background-color: #337ab7;
  }
  .dropdown-menu .row:hover:after {
    position: absolute;
    left: 50%;
    margin-left: -10px;
    border-left: 0;
    border-bottom: 17px solid transparent;
    border-top: 17px solid transparent;
    border-left: 14px solid #333333;
    transform: rotate(-90deg);
    background: none;
  }

  .table {
    margin: auto;
    width: 50% !important; 
 }

