body {
    background-image: url(assets/empty-chair-ski-lift-on-bright-winter-day_free_stock_photos_picjumbo_P1010062-2210x1475.jpg);
    background-color: #cccccc;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    min-height: 100%;
    position: relative;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
}

img.map {
    height: 100%;
    width: 100%;
}

.navbar-brand {
    background-color: rgb(53, 145, 236);
    font-size: 22px ;
    border-radius: 10px;
    color: white;
    width: 40px;
    height: 40px;
    padding: 5px 5px;
    text-align: center;
    display: inline-block;
    
}

#search {
    border: 2px solid;
    background-color: rgb(32, 160, 32);
    font-size: 18px ;
    border-radius: 6px;
    color: white;
    padding: 5px 5px;
    text-align: center;
    display: inline-block;
    
}

.collapsible {
    color: rgb(48, 119, 141);
    border-radius: 6px;
    border-color: white;
    margin-top: 5px;
    width: 100%;
    text-align: left;
    background-color: rgb(160, 160, 160);
    display: inline-block;
    
    
}
 .btn-group {
     width: 100%;
     text-align: left;
     
 }

 .btn {
     width: 100%;
     text-align: left;
 }

 .col1 {
     text-align: center;
 }

 .col2 {
     text-align: center;

 }

 .containerTop {
     margin: 10px 75px;
     padding: 15px;

 }